/*
  auto.css by DanielHands008
  https://github.com/DanielHands008/auto.css
*/

:root {
  --bg-color: #202B38;
  --nav-menu-bg-color: rgb(41, 48, 58);
  --color: white;
  --link-color: skyblue;
  --link-color-active: red;
  --link-color-visited: skyblue;
  --link-underline-color: #0000;
  --link-underline-color-hover: #EA215A;
  --button-text-color: white;
  --input-color: black;
  --input-bg-color: white;
  --input-disabled-color: lightgrey;
  --primary-color: rgb(0, 90, 255);
  --primary-hover-color: rgb(0, 120, 255);
  --mark-color: black;
  --mark-color-bg: yellow;
  --footer-color: rgb(0, 90, 255);
  --border-radius: .2rem;
  --drawer-bg-color: white;
  --drawer-color: black;
  --drawer-button-hover-color: lightgrey;
  --arrow-svg: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M23.245 4l-11.245 14.374-11.219-14.374-.781.619 12 15.381 12-15.391-.755-.609z"/></svg>');
}

body {
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  color: var(--color);
  background-color: var(--bg-color);
  padding-bottom: 0;
}

header {
  padding-top: 1rem;
}

header,
main {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
}

footer {
  background-color: var(--footer-color);
  padding: 1rem;
}

hr {
  border: 0;
  border-top: solid 1px var(--color);
}

mark {
  color: var(--mark-color);
  background-color: var(--mark-color-bg);
}

a[href] {
  color: var(--link-color);
  text-decoration-color: var(--link-underline-color);
  text-decoration-thickness: .1rem;
}

a[href]:hover {
  text-decoration-color: var(--link-underline-color-hover);
}

a[href]:active {
  color: var(--link-color-active)
}

a[href]:visited {
  color: var(--link-color-visited)
}

blockquote:before,
blockquote:after {
  content: '\275D';
  line-height: 0rem;
  font-size: 2rem;
  position: relative;
  bottom: -.6rem;
}

blockquote:after {
  content: '\275E';
}
details, details summary {
  display: block;
}

details:not([drawer])>* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

details:not([drawer]) {
  width: auto;
  display: block;
  color: var(--input-color);
}

details:not([drawer]) summary {
  background-color: var(--input-bg-color);
  padding: .5rem;
  border-radius: var(--border-radius);
}

details>summary:first-of-type {
  list-style-type: none;
}

details summary::-webkit-details-marker {
  display: none;
}

details:not([drawer]) summary:before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: var(--input-bg-color) var(--arrow-svg) 0% 100% / 0.7rem no-repeat;
  transform: rotate(-90deg);
  transform-origin: 40% 57%;
}

details[open]:not([drawer]) summary:before {
  transform: rotate(0deg);
}

details[open]:not([drawer]) summary {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

details:not([drawer])> :not(:first-child) {
  padding: 1rem 1rem;
  margin: 0;
  background-color: var(--input-bg-color);
}

details:not([drawer])> :last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}


/* Hide the content of the details tag, use with javascript to add support for edge. */

details:not([open]):not([drawer])> :not(:first-child) {
  display: none;
}

kbd {
  border: solid 1px var(--color);
  border-radius: 4px;
  padding: 2px 4px;
}

code {
  color: var(--input-color);
  background: var(--input-bg-color);
  page-break-inside: avoid;
  font-family: monospace;
  font-size: .9rem;
  word-wrap: break-word;
  line-height: 1.5;
  border-left: 3px solid var(--primary-color);
  border-radius: var(--border-radius);
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
}

table {
  color: #202B38;
  border-collapse: collapse;
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}

table th,
table tr td {
  padding: .25rem;
}

table th {
  color: var(--input-bg-color);
  background-color: var(--primary-color);
  text-align: left;
}

table tr td {
  background-color: #ccc;
}

table tr:nth-child(even) td {
  background-color: #f2f2f2;
}

button:not(:disabled),
input[type="button"]:not(:disabled),
input[type="submit"]:not(:disabled),
input[type="checkbox"]:not(:disabled),
input[type="radio"]:not(:disabled),
input[type="select"]:not(:disabled),
input[type="range"]:not(:disabled),
select:not(:disabled),
details summary {
  cursor: pointer;
}

button,
input[type="button"],
input[type="submit"] {
  color: var(--button-text-color);
  background-color: var(--primary-color);
  font-size: medium;
  font-weight: bold;
  line-height: .4rem;
  padding: .9rem 1.5rem;
  border-radius: var(--border-radius);
  border: 0px;
}

input:not([type="submit"]):not([type="button"]):not([type="file"]):not([type="range"]):not(:disabled),
select,
textarea {
  color: var(--input-color);
  background-color: var(--input-bg-color);
}

button:hover:not(:disabled),
input[type="button"]:hover:not(:disabled),
input[type="submit"]:hover:not(:disabled) {
  background-color: var(--primary-hover-color);
}

button:active:not(:disabled),
input[type="button"]:active:not(:disabled),
input[type="submit"]:active:not(:disabled) {
  box-shadow: inset 0 0 5px #0005;
}

fieldset {
  border: solid 1px;
  border-left: 0;
  border-right: 0;
  width: auto;
  margin: 1rem 0rem;
}

fieldset legend {
  font-size: large;
  font-weight: bold;
  color: var(--color);
}

label {
  margin: .4rem;
}

input {
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  padding: .4rem;
  font-size: 1rem;
  margin: .2rem 0rem;
}

input[type="checkbox"],
input[type="radio"],
input[type="range"],
select,
textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  top: .4rem;
  border-radius: 0px;
  padding: .65rem;
  display: inline-block;
  position: relative;
  border: solid 1px #0000;
}

input[type="radio"] {
  border-radius: 100%;
}

input[type="checkbox"]:active:not(:disabled),
input[type="radio"]:active:not(:disabled) {
  border: solid 1px var(--link-color-active);
}

input[type="checkbox"]:checked:after {
  font-family: Arial, Helvetica, sans-serif;
  content: '\2714\00FE0E';
  position: absolute;
  top: 0px;
  left: .25rem;
  color: var(--primary-color);
  font-size: 1rem;
}

input[type="radio"]:checked:after {
  content: '';
  background-color: var(--primary-color);
  border-radius: 100%;
  width: .8rem;
  height: .8rem;
  position: absolute;
  left: .25rem;
  top: .25rem;
}

select {
  border: 0;
  font-size: medium;
  padding: .3rem;
  border-radius: var(--border-radius);
  margin: .3rem 0;
}

select:not([multiple]) {
  background: var(--input-bg-color) var(--arrow-svg) calc(100% - 0.7rem) 50% / 0.7rem no-repeat;
  padding-right: 1.7rem;
}

select[multiple] {
  padding-right: 10px;
  overflow-y: auto;
}

textarea {
  border: 0;
  border-radius: var(--border-radius);
  padding: .3rem;
  font-size: 1rem;
}

input[type="range"],
input[type="range"]:disabled {
  background-color: transparent;
  height: 1rem;
}

input[type='range']::-webkit-slider-runnable-track {
  background-color: var(--input-bg-color);
  height: .3rem;
  border-radius: 1rem;
  padding: 0;
  overflow: show;
}

input[type="range"]:disabled::-webkit-slider-runnable-track {
  background-color: var(--input-disabled-color);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  border: 0;
  background-color: var(--primary-color);
  margin-top: -0.3rem;
}

input[type='range']::-moz-range-track {
  background-color: var(--input-bg-color);
  height: .3rem;
  border-radius: 1rem;
  padding: 0;
}

input[type="range"]:disabled::-moz-range-track {
  background-color: var(--input-disabled-color);
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  border: 0;
  background-color: var(--primary-color);
}

input[type='range']::-ms-track {
  background-color: var(--input-bg-color);
  height: .3rem;
  border: 0;
  border-radius: 1rem;
}

input[type="range"]:disabled::-ms-track {
  background-color: var(--input-disabled-color);
}

input[type='range']::-ms-fill-lower,
input[type='range']::-ms-fill-upper {
  display: none;
}

input[type='range']::-ms-thumb {
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  border: 0;
  background-color: var(--primary-color);
  margin-top: 0rem;
}

button:disabled,
input:disabled,
select:disabled,
input:disabled[type=range]::-webkit-slider-thumb {
  background-color: var(--input-disabled-color);
  cursor: not-allowed;
}

input:disabled[type=range]::-moz-range-thumb {
  background-color: var(--input-disabled-color);
  cursor: not-allowed;
}

progress[value] {
  height: 1.2rem;
  width: 100%;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--input-bg-color);
  color: var(--primary-color)
}

progress[value]::-webkit-progress-bar {
  background-color: var(--input-bg-color);
  border-radius: var(--border-radius);
}

progress[value]::-webkit-progress-value {
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
}

progress[value]::-moz-progress-bar {
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav>ul>li:not(:first-child) {
  margin-left: .5rem;
}

nav ul li ul {
  background-color: var(--nav-menu-bg-color);
  position: absolute;
  display: none;
  flex-direction: column;
  right: 0;
  width: auto;
  border-radius: var(--border-radius);
  padding: .5rem 1rem;
}

nav ul li:hover ul {
  display: flex;
}

nav ul li ul li {
  position: relative;
  text-align: left;
  width: auto;
  white-space: nowrap;
  padding: .25rem;
  padding-top: 0;
}

details[drawer][open] {
  z-index: 100;
}

details[drawer][open]>summary:after {
  content: '';
  background-color: black;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.25;
  margin: 0;
}

details[drawer]> :last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--drawer-bg-color);
  color: var(--drawer-color);
  position: fixed;
  margin: 0px;
  height: 100vh;
  left: 0px;
  top: 0px;
  bottom: 0px;
  transform: translateX(-100%);
  overflow-x: auto;
  z-index: 100;
}

details[drawer][right]> :last-child {
  transform: translateX(100%);
  left: auto;
  right: 0px;
}

details[drawer][open]> :last-child {
  transform: translateX(0%);
}

details[drawer] div button {
  border-radius: 0;
  width: 100%;
  background-color: var(--drawer-bg-color);
  color: var(--drawer-color);
  text-align: left;
  font-weight: normal;
}

details[drawer] div button:hover {
  background-color: var(--drawer-button-hover-color);
}

/* Fixes for IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  select:not([multiple]) {
    padding-right: .3rem;
  }
  details:not([drawer]) summary:before {
    content: '>';
    transform: rotate(0deg);
  }
  details[open]:not([drawer]) summary:before {
    transform: rotate(90deg);
  }
}